<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <% include ../partials/_header %>
</head>
<body>
  <ul>
    <% for(let urls in urlDatabase) { %>

      <li> <%= urls %> - <a href = "<%= urlDatabase[urls].url %>"><%= urlDatabase[urls].url %></a> 
        
        <form method="POST" action="/urls/<%=urls %>/delete">
          <button>Delete</button>
        </form>
        <a href = "/urls/<%= urls %>"><button>Edit</button></a>
      </li>

    <% } %>
  </ul>
  <form method = "GET" action = "/urls/new">
    <button>Create a New Short Link</button>
  </form>
</body>
</html>