<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Bare - Start Bootstrap Template</title>

    <% include ../partials/_header %>

    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


  </head>

  <body>

  <!-- Page Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h1 class="mt-5">Welcome to your personal TinyUrl Index</h1>
          <p class="lead">Complete with pre-defined file paths and responsive navigation!</p>
          <ul>
              <% for(let urls in urlDatabase) { %>
          
                <li> <%= urls %> - <a href = "<%= urlDatabase[urls].url %>"><%= urlDatabase[urls].url %></a> 
                  
                  <form method="POST" action="/urls/<%=urls %>/delete">
                    <button type="button" class="btn btn-primary">Delete</button>
                  </form>
                  <a href = "/urls/<%= urls %>"><button>Edit</button></a>
                </li>
          
              <% } %>
            </ul>
            <form method = "GET" action = "/urls/new">
              <button type="button" class="btn btn-primary">Create a New Short Link</button>
            </form>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript -->

  </body>

</html>
